<div class="form-group required">
  <label for="title">Food</label>
  <input type="text"
         class="form-control"
         required=""
         name="food"
         placeholder="What type of food are you sharing?"
         value="<%= fridgeItem.food %>">
</div>

<div class="form-group required">
  <label for="title">Amount</label>
  <input type="text"
         class="form-control"
         required=""
         name="amount"
         placeholder="ex. 1 cup, 1 item, 3 tbsp"
         value="<%= fridgeItem.amount %>">
</div>

<div class="form-group required">
  <label for="title">Neighborhood</label>
  <select type="text"
        class="form-control"
        required=""
         name="neighborhood"
         placeholder="Select your neighborhood"
         value="<%= fridgeItem.neighborhood %>">
         <% include ../partials/neighborhoods %>
</select>
</div>

<div class="form-group">
  <label for="title">Meeting Location</label>
  <input type="text"
         class="form-control"
         name="meetingLocation"
         placeholder="ex. 10th and Monroe"
         value="<%= fridgeItem.meetingLocation %>">
</div>

<div class="form-group">
  <label for="title">Ingredients</label>
  <input type="text"
         class="form-control"
         name="ingredients"
         placeholder="ex. Cheese, nuts, flour, sausage"
         value="<%= fridgeItem.ingredients %>">
</div>

<div class="form-group">
  <label for="title">Notes</label>
  <textarea type="text"
         cols="40"
         rows="5"
         class="form-control"
         name="notes"
         placeholder="Any details you want to include for your fellow NeighborFoodies?"
         value="<%= fridgeItem.notes %>"></textarea>
</div>

<div class="form-group">
  <label for="title">Photo</label>
  <input type="text"
         class="form-control"
         name="photo"
         placeholder="Insert URL here"
         value="<%= fridgeItem.photo %>">
</div>
<div class="imgsites">
  <b>Upload an image via </b><a href="http://www.imgur.com/upload" target="_blank">Imgur</a>
</div>

<p class="asterisk"> * required</p>


