<!DOCTYPE html>
<html lang="en">
<head>
      <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <div class="jumbotron neighborhood">
    <main>
        <h3>Neighborhood</h3>
    </main>
  </div>

<body>
    <a href="/fridge/new" class="btn btn-success">Add New Item</a>
    <div class="search">
      <form method="get" action="/atlanta" id="search">
        <div class="form-group">
          <h5>Search</h5>
          <label>Select Your Neighborhood</label>
              <select type="text"
                    class="form-control"
                     name="neighborhood"
                     placeholder="--- Select --- "
                     value selected="<%= searchOptions.neighborhood %>">
                     <% include ../partials/neighborhoods %>
              </select>
            <br>
          <label>Find a Food</label>
              <input type="text"
                class="form-control"
                name="food"
                value="<%= searchOptions.food %>">
          <br>
          <button type="submit" class="btn btn-info">Search</button>
          <a class="btn btn-default" href="/atlanta">Clear</a>

        </div>
      </form>
    </div>

  </body>
    <div class="col-sm-12">
        <% fridgeItems.forEach(function(fridgeItem) { %>
            <h4>
              <div class="itemBackground">
                <p class="updated"> Updated: <%= fridgeItem.getUpdatedAt() %></p>
                <p class="itemInfo"> <%= fridgeItem.food + ' - ' + fridgeItem.amount + ' - ' + fridgeItem.neighborhood %> </p>
                <p class="contact">Contact <%= fridgeItem.owner.firstName %> : <a href="mailto:<%= fridgeItem.owner.local.email %>"> <%= fridgeItem.owner.local.email %></a></p>
                  <% if (fridgeItem.meetingLocation) { %>
                    <p class="meeting"> Meeting Location: <%= fridgeItem.meetingLocation %> </p>
                  <% } %>

                  <% if (fridgeItem.ingredients) { %>
                    <p class="ingredients"> Ingredients: <%= fridgeItem.ingredients %> </p>
                  <% } %>

                  <% if (fridgeItem.photo) { %>
                    <p class="image"><img src="<%= fridgeItem.photo %>"></p>
                  <% } %>
              </div>
            </h4>
          <% }); %>

          <% if (fridgeItems.length === 0) { %>
            <h4>There are no items to show.</h4>
          <% } %>
          <footer>
            <% include ../partials/footer %>
          </footer>
        </div>


  </body>
</html>
