<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div>
      <div class="jumbotron index">
        <h3>MyFridge</h3>
        <p>Add your leftovers or extra food below to share with your community.</p>
      </div>
      <% fridgeItems.forEach(function(fridgeItem) { %>
        <h4 class="fridgeIndexCaptialize">
              <form method="POST" action="/fridge/<%= fridgeItem._id %>?_method=DELETE">
                <div class="itemBackground">
                <p class="updated"> Updated: <%= fridgeItem.getUpdatedAt() %></p>
                  <div>
                    <ul>
                      <li>
                        <a class="fridgeFood" href="/fridge/<%= fridgeItem._id %>">
                          <%= fridgeItem.food + ' - ' + fridgeItem.amount + ' - ' + fridgeItem.neighborhood %>
                        </a>
                          <ul>
                          <li class="dropdownli"><button class="btn btn-xs btn-info"><a href="/fridge/<%= fridgeItem._id %>">Show</a></button></li>
                          <li class="dropdownli"><button class="btn btn-xs btn-info"><a href="/fridge/<%= fridgeItem._id %>/edit">Edit</a></button></li>
                          <li class="dropdownli"><button type="submit" class="btn btn-xs btn-danger">Delete</button></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                      <img src="<%= fridgeItem.photo %>">
                </div>
              </form>
        </h4>
      <% }); %>
    </div>
    <a href="/fridge/new" id="new" class="btn btn-success">Add New Item</a>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
