<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="fridgeItems">
      <div class="jumbotron show">
        <h3><%= fridgeItem.food %></h3>
      </div>
      <p><b>Food: </b><%= fridgeItem.food %></p>
      <p><b>Amount: </b><%= fridgeItem.amount %></p>
      <p><b>Neighborhood: </b><%= fridgeItem.neighborhood %></p>
      <p><b>Meeting Location: </b><%= fridgeItem.meetingLocation %></p>
      <p><b>User email: </b><%= user.local.email %></p>

    </div>

    <a href="/fridge" class="btn btn-success">Back</a>
    <a href="/fridge/<%= fridgeItem._id %>/edit" class="btn btn-info">Edit</a>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
